body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #af8c18;
}

h2 {
    color: #ffffff;
}

button {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #00b336;
}

